        user mlemos {
            full-name "Matias Lemos";
            uid 2001;
            class read-only;
            authentication {
                encrypted-password "$6$AN1fFn1q$63bOZD6NG0bDfOhrBXfLIoJIwNEWEE4iaZHRNnO24uHm0ZTTOJz/B4EHIXowL.sshC5OhA/mQltz1.X/xL/L0/"; ## SECRET-DATA
            }
        }
